# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/School_Inheritane/.vs/School_Inheritane/v14
/School_Inheritane/Debug
/School_Inheritane/School_Inheritane/Debug/vc140.pdb
/School_Inheritane/School_Inheritane/Debug/vc140.idb
/School_Inheritane/School_Inheritane.VC.VC.opendb
/Bag and Set/Bag and Set.VC.VC.opendb
/Bag and Set/Bag and Set.VC.db
/DoubleVector/DoubleVector.VC.db
/IzpitPo_OOP_Zad1/IzpitPo_OOP_Zad1.VC.VC.opendb
/IzpitPo_OOP_Zad2/IzpitPo_OOP_Zad2.VC.db
